.AddFolder{
    width: 100%;
    margin: 0 30%;
}

.AddFolder__form label, .AddFolder__form input{
    width: 70%;
    margin-bottom: 10px;
    display: block;
}

.AddFolder__form input{
    padding: 5px;
}

.AddFolder__form button{
    width: 70px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.form-error{
    width: 70%;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.2);
}